body {
    min-width: 350px;
    min-height: 300px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F0F0F;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    margin-bottom: 4px;
    border-radius: 30px;
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 2;
}

button {
    margin-top: 7px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

#save-note-btn{
    background-color: brown;
}
#delete-notes-btn{
    background: #08A045;
}

ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.btn {
    display: inline-block;
    padding-top: 1px;
    padding-left: 10px;
}

.d {
    display: flex;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
}

