body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F0F0F;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    margin-bottom: 4px;
    border-radius: 100px;
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-weight: 600;
}

button {
    margin-top: 5px;
    background: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px ;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: white;
}
#sv {
    display: inline-block;
    padding-left: 10px;
}
#d {
    display: flex;
}