body {
    height: 300px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F0F0F;
    font-size:18px ;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    margin-bottom: 4px;
    border-radius: 30px;
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 2;
}

button {
    margin-top: 7px;
    background: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px ;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}

a {
    color: white;
    text-decoration:none ;
}
a:hover{
    color: grey;
    text-decoration: ;
}
#sv {
    display: inline-block;
    padding-top: 1px;
    padding-left: 10px;
}
#d {
    display: flex;
}
